# Copy this file to .env and edit the settings

# Port to listen on (example: 3000)
PORT=

# MongoDB database URL (example: mongodb://localhost/dbname)
DATABASE_URL=

# Session secret string (must be unique to your server)
SESSION_SECRET=

# Email encryption key (must be unique and secure)
EMAIL_ENCRYPTION_KEY=d13b4f01cbdc99cacd5077d58bff5ae8